$primaryColors:(
    textoConselho:hsl(193, 38%, 86%),
    verdeNeon: hsl(150, 100%, 66%)
);

$neutralColors:(
    modal: hsl(217, 19%, 38%),
    fundoEscuro: hsl(217, 19%, 24%),
    fundo: hsl(218, 23%, 16%)
);